<section class="gallery-section sec-pad text-center">
    <div class="container-fluid">
        <div class="sec-title">
            <h5>Gallery</h5>
            <h3>Photo Gallery</h3>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="card-deck">
                    <div class="card">
                      <img class="card-img-top" src="./../../../assets/images/gallery/1.jpg" alt="Card image cap">                      
                    </div>
                    <div class="card">
                      <img class="card-img-top" src="./../../../assets/images/gallery/2.jpg" alt="Card image cap">                      
                    </div>
                    <div class="card">
                      <img class="card-img-top" src="./../../../assets/images/gallery/3.jpg" alt="Card image cap">                      
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="./../../../assets/images/gallery/4.jpg" alt="Card image cap">                      
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="./../../../assets/images/gallery/5.jpg" alt="Card image cap">                      
                    </div>
                  </div>                
            </div>
        </div>
        
    </div>
</section>