<section class="gallery-section sec-pad text-center d-none d-md-block">
    <div class="container-fluid">
        <div class="sec-title">
            <h5>Gallery</h5>
            <h3>Photo Gallery</h3>
        </div>
        <div class="container-fluid" *ngIf="data; else loading">
            <div class="row justify-content-center">
                <div class="card-deck">
                    <div class="card" *ngFor="let item of data">
                      <img class="card-img-top" [src]="item['feature_image_src_cus']" alt="Card image cap">                      
                    </div>                    
                  </div>                
            </div>
        </div>
        
    </div>
</section>

<ng-template #loading>    
  <app-pre-loading></app-pre-loading>
</ng-template>