<div id="footer">
    <div class="parallax-scene parallax-scene-2 parallax-icon" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
        <span data-depth="0.40" id="icon-1" class="parallax-layer icon icon-1" style="transform: translate3d(-12.1px, 24px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;"></span>
        <span data-depth="0.50" class="parallax-layer icon icon-2" style="transform: translate3d(-15.1px, 30px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;"></span>
        <span data-depth="0.30" class="parallax-layer icon icon-3" style="transform: translate3d(-9.1px, 18px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;"></span>
        <span data-depth="0.40" class="parallax-layer icon icon-4" style="transform: translate3d(-12.1px, 24px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;"></span>
        <span data-depth="0.50" class="parallax-layer icon icon-5" style="transform: translate3d(-15.1px, 30px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;"></span>
        <span data-depth="0.30" class="parallax-layer icon icon-6" style="transform: translate3d(-9.1px, 18px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;"></span>
        <span data-depth="0.40" class="parallax-layer icon icon-7" style="transform: translate3d(-12.1px, 24px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;"></span>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 text-md-left text-lg-left text-center footer-info">                 
                <h3 class="title-footer">Froebel Preschool</h3>
                <p class="text-justify">
                    Chăm sóc bằng tình yêu thương - Dạy dỗ bằng tâm huyết -Truyền cảm hứng và bồi dưỡng đam mê tìm tòi và sáng tạo cùng trẻ.
                </p>
                <p class="text-justify">
                    Chương trình học được thiết kế dựa theo chương trình chuẩn của Bộ Giáo Dục và Đào Tạo Việt Nam, đồng thời có sự tham khảo chương trình giáo dục MN của một số nước tiên tiến trên thế giới đặc biệt như: Đan Mạch, Australia & Singapore.                    
                </p>
            </div>
            <div class="col-md-6 col-lg-4">
                <h3 class="title-footer text-md-left text-lg-left text-center">Get in Touch</h3>            
                <ul>
                    <li class="li-icon icon-address">Số 4 - C13, KĐT Geleximco Lê Trọng Tấn, P.Dương Nội, Q.Hà Đông, Hà Nội</li>
                    <li class="li-icon icon-tel">0868.208.286</li>
                    <li class="li-icon icon-email">froebelhanoi@gmail.com</li>
                </ul>                
            </div>        
            <div class="col-md-6 col-lg-4 d-md-block d-none">
                <h3 class="title-footer">Fanpage</h3>
                <div class="wrapFanpage">
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs&width=340&height=197&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="197" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="info-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 copyright align-self-center text-md-left text-center">
                Copyright © <a href="http://trang-it.com">Trang_IT</a> 2020. All Rights Reserved
            </div>
            <div class="col-md-4 text-center d-sm-block d-none">
                <img alt="Logo Foxs-USA" src="../../../assets/images/logo_FPS_210.png" class="logo"/>   
            </div>
            <div class="col-md-4 text-right align-self-center d-sm-block d-none">
                <ul class="social-style-one footer-social clearfix">
                    <li><a href="#">
                        <fa-icon [icon]="faFacebookF"></fa-icon>                
                    </a></li>
                    <li><a href="#">
                        <fa-icon [icon]="faTwitter"></fa-icon>
                    </a></li>
                    <li><a href="#">
                        <fa-icon [icon]="faGooglePlusG"></fa-icon>
                    </a></li>
                    <li><a href="#">
                        <fa-icon [icon]="faInstagram"></fa-icon>
                    </a></li>
                </ul>                
            </div>
        </div>
    </div>
</div>