<section class="cta-section text-center">
    <div class="anim-icon">
        <div class="icon icon-1 float-bob-x"></div>
        <div class="icon icon-2 rotate-me"></div>
    </div>
    <div class="parallax-scene parallax-scene-1 parallax-icon" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
        <span data-depth="0.40" class="parallax-layer icon icon-1" style="transform: translate3d(35.9px, -19.6px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;"></span>
        <span data-depth="0.50" class="parallax-layer icon icon-2" style="transform: translate3d(44.9px, -24.5px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;"></span>
        <span data-depth="0.30" class="parallax-layer icon icon-3" style="transform: translate3d(27px, -14.7px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;"></span>
        <span data-depth="0.40" class="parallax-layer icon icon-4" style="transform: translate3d(35.9px, -19.6px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;"></span>
        <span data-depth="0.50" class="parallax-layer icon icon-5" style="transform: translate3d(44.9px, -24.5px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;"></span>
        <span data-depth="0.30" class="parallax-layer icon icon-6" style="transform: translate3d(27px, -14.7px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;"></span>
        <span data-depth="0.40" class="parallax-layer icon icon-7" style="transform: translate3d(35.9px, -19.6px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;"></span>
    </div>
    <div class="container">
        <div class="content-box">            
            <h4>Đăng Ký<br>Thăm Quan Trường</h4>
            <div class="text">Hãy là những bậc phụ huynh thông thái<br>để lựa chọn cho con trẻ một môi trường thân thiện!</div>
            <div class="btn-box"><a href="#" class="theme-btn">Đăng Ký</a></div>
        </div>
    </div>
</section>