<section class="fact-counter d-none d-md-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 counter-column">
                <div class="counter-block wow slideInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: slideInUp;">
                    <div class="icon-box"><fa-icon [icon]="faUserFriends"></fa-icon></div>
                    <div class="count-outer count-box counted">
                        <span class="count-text" data-speed="1500" data-stop="115">115</span>
                    </div>
                    <div class="text">Giáo viên</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 counter-column">
                <div class="counter-block wow slideInUp animated" data-wow-delay="100ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 100ms; animation-name: slideInUp;">
                    <div class="icon-box"><fa-icon [icon]="faCalendarAlt"></fa-icon></div>
                    <div class="count-outer count-box counted">
                        <span class="count-text" data-speed="1500" data-stop="40">40</span>
                    </div>
                    <div class="text">Phòng học</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 counter-column">
                <div class="counter-block wow slideInUp animated" data-wow-delay="200ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 200ms; animation-name: slideInUp;">
                    <div class="icon-box"><fa-icon [icon]="faChild"></fa-icon></div>
                    <div class="count-outer count-box counted">
                        <span class="count-text" data-speed="1500" data-stop="600">600</span>
                    </div>
                    <div class="text">Học sinh</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 counter-column">
                <div class="counter-block wow slideInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 300ms; animation-name: slideInUp;">
                    <div class="icon-box"><fa-icon [icon]="faFootballBall"></fa-icon></div>
                    <div class="count-outer count-box counted">
                        <span class="count-text" data-speed="1500" data-stop="3700">3,700</span>
                    </div>
                    <div class="text">m<span class="litle-met">2</span> sân chơi</div>
                </div>
            </div>
        </div>
    </div>
</section>