<section class="about-section">
    <div class="anim-icon d-none d-md-block">
        <div class="icon icon-1 float-bob-x"></div>
        <div class="icon icon-2 wow zoomIn animated" data-wow-delay="00ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: zoomIn;"></div>
        <div class="icon icon-3"></div>
    </div>
    <div class="container">    
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                <div class="image-box wow fadeInLeft animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInLeft;">
                    <figure class="image image-1"><img src="./../../../assets/images/image-gioithieu-home/img-2.jpg" alt=""></figure>
                    <figure class="image image-2"><img src="./../../../assets/images/image-gioithieu-home/img-1.jpg" alt=""></figure>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div class="content-box">
                    <div class="sec-title style-two">
                        <h5>{{'title-about-us' | i18next}}</h5>
                        <h1>FROEBEL PRESCHOOL</h1>
                    </div>
                    <p class="set-font-content text-justify">
                        <strong>“NUTURING OUR FUTURE -  Ươm mầm tương lai”</strong>
                    </p>
                    <p class="set-font-content text-justify">
                        Chăm sóc bằng tình yêu thương - Dạy dỗ bằng tâm huyết - Truyền cảm hứng và bồi dưỡng đam mê tìm tòi và sáng tạo cùng trẻ.
                    </p>
                    <p class="set-font-content text-justify">
                        Bên cạnh đó, các con còn được bổ sung kiến thức theo chương trình học tập dự án Steam, các hoạt động ngoại khóa đa dạng theo các phương pháp giáo dục tiên tiến trên thế giới như Reggio Emilia, Montessori  trong các bài dạy về nhân cách nhằm giúp cho các con được cơ hội học tập tốt nhất.
                    </p>
                    <div class="btn-box"><a routerLink="/about-us" class="theme-btn">Giới thiệu</a></div>
                </div>
            </div>                
        </div>
    </div>
</section>
