<section class="about-section">
    <div class="anim-icon d-none d-md-block">
        <div class="icon icon-1 float-bob-x"></div>
        <div class="icon icon-2 wow zoomIn animated" data-wow-delay="00ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: zoomIn;"></div>
        <div class="icon icon-3"></div>
    </div>
    <div class="container">    
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                <div class="image-box wow fadeInLeft animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInLeft;">
                    <figure class="image image-1"><img src="./../../../assets/images/image-gioithieu-home/img-2.jpg" alt=""></figure>
                    <figure class="image image-2"><img src="./../../../assets/images/image-gioithieu-home/img-1.jpg" alt=""></figure>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div class="content-box">
                    <div class="sec-title style-two">
                        <!-- <h5>{{'title-about-us' | i18next}}</h5> -->
                        <h1>FROEBEL PRESCHOOL</h1>
                    </div>
                    <p class="set-font-content text-justify">
                        <strong>“NURTURING OUR FUTURE -  Ươm mầm tương lai”</strong>
                    </p>
                    <p class="set-font-content text-justify">
                        Với quan điểm “giáo dục lấy trẻ làm trung tâm” trẻ được phát triển toàn diện về Thân - Tâm - Trí. Chúng tôi xây dựng Froebel preschool trở thành ngôi nhà thứ hai của mọi đứa trẻ. Không gian xanh mát với tiêu chí trường trong vườn giúp trẻ được cử động, vùng vẫy và chạy nhảy, khám phá để có cảm giác là mình đang sống thực sự giữa thiên nhiên, đồng thời cảm nhận những nỗi niềm vui thích, hứng thú, hăng say và hổ hởi. Froebel preschool cũng chú trọng đến môi trường tinh thần.
                    </p>
                    <p class="set-font-content text-justify">
                        Để xây dựng thành bản thân mình, trẻ em cần có một khuôn mẫu ở đằng trước. Việc đầu tư cho đào tạo sẽ làm nên đội ngũ cán bộ/giáo viên/nhân viên của nhà trường, là những tấm gương phản chiếu tốt nhất cho trẻ. Chúng tôi tin rằng, ko phải trẻ em chơi để học. Trái lại, chúng có khả năng học vì chúng biết chơi….
                    </p>
                    <div class="btn-box"><a routerLink="/about-us" class="theme-btn">Giới thiệu</a></div>
                </div>
            </div>                
        </div>
    </div>
</section>
