<section class="testimonial-faq">
    <div class="anim-icon">
        <div class="icon icon-1"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 testimonial-column">
                <div class="testimonial-content">
                    <div class="sec-title style-two">
                        <h5>Testimonials</h5>
                        <h3>Ý Kiến Phụ Huynh</h3>
                    </div>
                    <div class="inner-content">
                        <div class="media">
                            <div class="align-self-center mr-3 text-center">
                                <img src="./../../../assets/images/our-teacher/teacher-1.png" alt="Generic placeholder image">
                                <h4 class="mt-2 mb-0">Mr. Dũng</h4>
                            </div>
                            <div class="media-body">
                              <p class="text-justify mb-0">
                                Ngay từ ngày đầu khi đến tham quan Froebel Preschool tôi đã rất thích khuôn viên của trường! Sau khi tiếp xúc với các giáo viên trong trường tôi cảm thấy khá thiện cảm. Hiện tôi khá hài lòng và yên tâm khi cho con theo học tại trường.
                              </p>                              
                            </div>
                        </div>
                        <div class="media">
                            <div class="align-self-center mr-3 text-center">
                                <img src="./../../../assets/images/our-teacher/teacher-1.png" alt="Generic placeholder image">
                                <h4 class="mt-2 mb-0">Mr. Dũng</h4>
                            </div>
                            <div class="media-body">
                              <p class="text-justify mb-0">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>                              
                            </div>
                        </div>
                        <div class="media">
                            <div class="align-self-center mr-3 text-center">
                                <img src="./../../../assets/images/our-teacher/teacher-1.png" alt="Generic placeholder image">
                                <h4 class="mt-2 mb-0">Mr. Dũng</h4>
                            </div>
                            <div class="media-body">
                              <p class="text-justify mb-0">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>                              
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 faq-column">
                <div class="faq-content">
                    <div class="sec-title style-two">
                        <h5>Faq’s</h5>
                        <h3>Câu hỏi thường gặp</h3>
                    </div>
                    <ul class="accordion-box">
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><i class="fas fa-angle-down"></i></div>
                                <h4>Q. Is There a Sleep or Rtest Time?</h4>
                            </div>
                            <div class="acc-content current">
                                <div class="content">
                                    <div class="text">Lorem ipsum dolor amet consectetur adipisicing sed do eiusmod
                                        tempor incididunt ut labore magna aliqua enim minim veniam quis nostrud.</div>
                                </div>
                            </div>
                        </li>
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><i class="fas fa-angle-down"></i></div>
                                <h4>Q. Children in Need Armistice Day?</h4>
                            </div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">Lorem ipsum dolor amet consectetur adipisicing sed do eiusmod
                                        tempor incididunt ut labore magna aliqua enim minim veniam quis nostrud.</div>
                                </div>
                            </div>
                        </li>
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><i class="fas fa-angle-down"></i></div>
                                <h4>Q. Is Outdoor Play Supervised?</h4>
                            </div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">Lorem ipsum dolor amet consectetur adipisicing sed do eiusmod
                                        tempor incididunt ut labore magna aliqua enim minim veniam quis nostrud.</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>