<section class="testimonial-faq d-none d-md-block">
    <div class="anim-icon">
        <div class="icon icon-1"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 testimonial-column">
                <div class="testimonial-content">
                    <div class="sec-title style-two">
                        <h5>Testimonials</h5>
                        <h3>Ý Kiến Phụ Huynh</h3>
                    </div>
                    <div class="inner-content">
                        <div class="media">
                            <div class="align-self-center mr-3 text-center">
                                <img src="./../../../assets/images/our-teacher/teacher-icon.png" alt="Generic placeholder image">
                                <h4 class="mt-2 mb-0">Mr. Dũng</h4>
                            </div>
                            <div class="media-body">
                              <p class="text-justify mb-0">
                                Ngay từ ngày đầu khi đến tham quan Froebel Preschool tôi đã rất thích khuôn viên của trường! Sau khi tiếp xúc với các giáo viên trong trường tôi cảm thấy khá thiện cảm. Hiện tôi khá hài lòng và yên tâm khi cho con theo học tại trường.
                              </p>                              
                            </div>
                        </div>
                        <div class="media">
                            <div class="align-self-center mr-3 text-center">
                                <img src="./../../../assets/images/our-teacher/teacher-icon.png" alt="Generic placeholder image">
                                <h4 class="mt-2 mb-0">Mr. Phương</h4>
                            </div>
                            <div class="media-body">
                              <p class="text-justify mb-0">Cơ sở vật chất rất tốt. Đặc biệt là sân trường rộng, đẹp. Các bạn nhỏ có rất nhiều thời gian và không gian ngoài trời hàng ngày.</p>                              
                            </div>
                        </div>
                        <div class="media">
                            <div class="align-self-center mr-3 text-center">
                                <img src="./../../../assets/images/our-teacher/teacher-icon.png" alt="Generic placeholder image">
                                <h4 class="mt-2 mb-0">Mẹ bé Suri</h4>
                            </div>
                            <div class="media-body">
                              <p class="text-justify mb-0">Tôi rất ấn tượng với đội ngũ chuyên gia cố vấn và giáo viên của nhà trường - rất có chuyên môn và tận tâm. Tôi hoàn toàn tin tưởng vào chương trình học nhà trường cung cấp.</p>                              
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 faq-column">
                <div class="faq-content">
                    <div class="sec-title style-two">
                        <h5>Faq’s</h5>
                        <h3>Câu hỏi thường gặp</h3>
                    </div>
                    <ul class="accordion-box">
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><i class="fas fa-angle-down"></i></div>
                                <h4>- Độ tuổi tuyển sinh? Thời gian tuyển sinh?</h4>
                            </div>
                            <div class="acc-content current">
                                <div class="content">
                                    <div class="text">Nhà trường tuyển sinh các con từ 18 - 72 tháng ở tất cả các thời điểm trong năm.</div>
                                </div>
                            </div>
                        </li>
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><i class="fas fa-angle-down"></i></div>
                                <h4>- Chương trình tiếng Anh được xây dựng như thế nào? Có giáo viên nước ngoài không?</h4>
                            </div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">Nhà trường xây dựng chương trình tiếng Anh phù hợp với đặc điểm của các con ở từng độ tuổi.
                                        <br/>Nhà trường có giáo viên người Việt Nam và giáo viên nước ngoài đảm bảo tạo môi trường tiếng Anh tốt nhất cho các con.
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><i class="fas fa-angle-down"></i></div>
                                <h4>- Các con được đi tham quan dã ngoại không?</h4>
                            </div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">Có. Nhằm bổ trợ nội dung giáo dục, tạo niềm vui và tăng sự gắn kết giữa các con. Nhà trường thường xuyên tổ chức tham quan, dã ngoại bên ngoài trường.</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>