<section class="classes-section sec-pad">
    <div class="anim-icon">
        <div class="icon icon-1 float-bob-x"></div>
    </div>
    <div class="container-fluid">
        <div class="sec-title text-center">
            <h5>Lộ trình</h5>
            <h3>Chương trình học</h3>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 block-column">
                <div class="inner-block wow fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                    <figure class="image-box"><a routerLink="/post/chuong-trinh-hoc-quoc-te-lop-nha-tre"><img src="./../../../assets/images/img_future/class-0-a.jpg" alt=""></a></figure>
                    <div class="lower-content">
                        <div class="link-btn"><a routerLink="/post/chuong-trinh-hoc-quoc-te-lop-nha-tre"><fa-icon [icon]="faArrowRight"></fa-icon></a></div>
                        <ul class="info-box">
                            <li><a routerLink="/post/chuong-trinh-hoc-quoc-te-lop-nha-tre">Nhà trẻ: <span>18 tháng - 3 Tuổi</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>            
            <div class="col-lg-3 col-md-6 col-sm-12 block-column">
                <div class="inner-block wow fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                    <figure class="image-box"><a routerLink="/post/chuong-trinh-hoc-quoc-te-mau-giao-be"><img src="./../../../assets/images/img_future/class-1-a.jpg" alt=""></a></figure>
                    <div class="lower-content">
                        <div class="link-btn"><a routerLink="/post/chuong-trinh-hoc-quoc-te-mau-giao-be"><fa-icon [icon]="faArrowRight"></fa-icon></a></div>                        
                        <ul class="info-box">
                            <li><a routerLink="/post/chuong-trinh-hoc-quoc-te-mau-giao-be">Mẫu giáo bé: <span>3-4 Tuổi</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 block-column">
                <div class="inner-block wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 600ms; animation-name: fadeInUp;">
                    <figure class="image-box"><a routerLink="/post/chuong-trinh-hoc-quoc-te-mau-giao-nho"><img src="./../../../assets/images/img_future/class-3-a.jpg" alt=""></a></figure>
                    <div class="lower-content">
                        <div class="link-btn"><a routerLink="/post/chuong-trinh-hoc-quoc-te-mau-giao-nho"><fa-icon [icon]="faArrowRight"></fa-icon></a></div>                                            
                        <ul class="info-box">
                            <li><a routerLink="/post/chuong-trinh-hoc-quoc-te-mau-giao-nho">Mẫu giáo Nhỡ: <span>4-5 Tuổi</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>            
            <div class="col-lg-3 col-md-6 col-sm-12 block-column">
                <div class="inner-block wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 300ms; animation-name: fadeInUp;">
                    <figure class="image-box"><a routerLink="/post/chuong-trinh-hoc-quoc-te-mau-giao-lon"><img src="./../../../assets/images/img_future/class-2-a.jpg" alt=""></a></figure>
                    <div class="lower-content">
                        <div class="link-btn"><a routerLink="/post/chuong-trinh-hoc-quoc-te-mau-giao-lon"><fa-icon [icon]="faArrowRight"></fa-icon></a></div>
                        <ul class="info-box">
                            <li><a routerLink="/post/chuong-trinh-hoc-quoc-te-mau-giao-lon">Mẫu giáo lớn: <span>5-6 Tuổi</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>