<section class="classes-section sec-pad">
    <div class="anim-icon">
        <div class="icon icon-1 float-bob-x"></div>
    </div>
    <div class="container">
        <div class="sec-title text-center">
            <h5>Lộ trình</h5>
            <h3>Chương trình học<br>của bé</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 block-column">
                <div class="inner-block wow fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                    <figure class="image-box"><a href="#"><img src="./../../../assets/images/img_future/class-1-a.jpg" alt=""></a></figure>
                    <div class="lower-content">
                        <div class="link-btn"><a href="#"><fa-icon [icon]="faArrowRight"></fa-icon></a></div>
                        <h3><a href="#">Mẫu giáo bé</a></h3>                        
                        <div class="text text-justify">                            
                            Nền tảng được xây dựng trên chương trình giáo dục quốc tế của MN FROBEL dựa trên 4 kỹ năng: Critical thinking, Creativity, Collaboration, Communication
                        </div>
                        <ul class="info-box">
                            <li>Age: <span>3-4 Tuổi</span></li>
                            <li>Size: <span>12 trẻ</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 block-column">
                <div class="inner-block wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 600ms; animation-name: fadeInUp;">
                    <figure class="image-box"><a href="#"><img src="./../../../assets/images/img_future/class-3-a.jpg" alt=""></a></figure>
                    <div class="lower-content">
                        <div class="link-btn"><a href="#"><fa-icon [icon]="faArrowRight"></fa-icon></a></div>
                        <h3><a href="#">Mẫu giáo Nhỡ</a></h3>                        
                        <div class="text text-justify">
                            Chương trình phát triển tư duy, trẻ được tự do lựa chọn góc chơi mình thích với nội dung chơi theo chủ đề và được giáo viên giới thiệu.
                        </div>
                        <ul class="info-box">
                            <li>Age: <span>4-5 Tuổi</span></li>
                            <li>Size: <span>12 trẻ</span></li>
                        </ul>
                    </div>
                </div>
            </div>            
            <div class="col-lg-4 col-md-6 col-sm-12 block-column">
                <div class="inner-block wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 300ms; animation-name: fadeInUp;">
                    <figure class="image-box"><a href="#"><img src="./../../../assets/images/img_future/class-2-a.jpg" alt=""></a></figure>
                    <div class="lower-content">
                        <div class="link-btn"><a href="#"><fa-icon [icon]="faArrowRight"></fa-icon></a></div>
                        <h3><a href="#">Mẫu giáo lớn</a></h3>                        
                        <div class="text text-justify">
                            Chương trình phát triển giao tiếp, trẻ tham gia các hoạt động tập thể, cùng giáo viên chuẩn bị nội dung hoạt động cho ngày hôm sau
                        </div>
                        <ul class="info-box">
                            <li>Age: <span>5-6 Tuổi</span></li>
                            <li>Size: <span>12 trẻ</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>