<section class="event-section">
    <div class="anim-icon">
        <div class="icon icon-1 float-bob-x"></div>
    </div>
    <div class="container">
        <div class="sec-title text-center">
            <h5>Events</h5>
            <h3>FPS News</h3>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-12 col-md-12 event-block">
                <div class="event-block-one wow fadeInLeft animated" data-wow-delay="00ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInLeft;">
                    <div class="inner-box">
                        <figure class="image-box"><a href="#"><img src="./../../../assets/images/event/event-1.jpg" alt=""></a></figure>
                        <div class="content-box">
                            <div class="date">10/06/2020</div>
                            <h3><a href="#">Imagination Classes.</a></h3>
                            <div class="text text-justify">Lorem ipsum dolor amet consectur pisicelit sed eiusmod tempor indie</div>
                            <div class="location"><fa-icon [icon]="faMapMarkerAlt"></fa-icon> Địa Điểm : <span>Froebel Preschool</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12 col-md-12 event-block">
                <div class="event-block-one wow fadeInRight animated" data-wow-delay="00ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInRight;">
                    <div class="inner-box">
                        <figure class="image-box"><a href="#"><img src="./../../../assets/images/event/event-2.jpg" alt=""></a></figure>
                        <div class="content-box">
                            <div class="date">12/06/2020</div>
                            <h3><a href="#">Music Classes.</a></h3>
                            <div class="text text-justify">Lorem ipsum dolor amet consectur pisicelit sed eiusmod tempor indie</div>
                            <div class="location"><fa-icon [icon]="faMapMarkerAlt"></fa-icon> Địa Điểm : <span>Froebel Preschool</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12 col-md-12 event-block">
                <div class="event-block-one wow fadeInLeft animated" data-wow-delay="00ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInLeft;">
                    <div class="inner-box">
                        <figure class="image-box"><a href="#"><img src="./../../../assets/images/event/event-3.jpg" alt=""></a></figure>
                        <div class="content-box">
                            <div class="date">13/06/2020</div>
                            <h3><a href="#">Paper Plates Art.</a></h3>
                            <div class="text text-justify">Lorem ipsum dolor amet consectur pisicelit sed eiusmod tempor indie</div>
                            <div class="location"><fa-icon [icon]="faMapMarkerAlt"></fa-icon> Địa Điểm : <span>Froebel Preschool</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12 col-md-12 event-block">
                <div class="event-block-one wow fadeInRight animated" data-wow-delay="00ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInRight;">
                    <div class="inner-box">
                        <figure class="image-box"><a href="#"><img src="./../../../assets/images/event/event-4.jpg" alt=""></a></figure>
                        <div class="content-box">
                            <div class="date">14/06/2020</div>
                            <h3><a href="#">Numbers Matching.</a></h3>
                            <div class="text text-justify">Lorem ipsum dolor amet consectur pisicelit sed eiusmod tempor indie</div>
                            <div class="location"><fa-icon [icon]="faMapMarkerAlt"></fa-icon> Địa Điểm : <span>Froebel Preschool</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>