<section class="event-section d-none d-md-block">
    <div class="anim-icon">
        <div class="icon icon-1 float-bob-x"></div>
    </div>
    <div class="container" *ngIf="data; else loading">
        <div class="sec-title text-center">
            <h5>Events</h5>
            <h3>FPS News</h3>
        </div>
        <div class="row">        
            <div class="col-xl-6 col-lg-12 col-md-12 event-block" *ngFor="let item of data">
                <div class="event-block-one wow fadeInLeft animated" data-wow-delay="00ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInLeft;">
                    <div class="inner-box">
                        <figure class="image-box"><a [routerLink]="['post/', item['slug']]"><img [src]="item['feature_image_src_cus']" alt=""></a></figure>
                        <div class="content-box">
                            <div class="date">{{item['acf']['event_date_cus']}}</div>
                            <h3><a [routerLink]="['post/', item['slug']]">{{item['title']['rendered']}}</a></h3>
                            <div class="text text-justify" [innerHTML]="item['content']['rendered'] | renderHtml"></div>
                            <div class="location"><fa-icon [icon]="faMapMarkerAlt"></fa-icon> Địa Điểm : <span>{{item['acf']['event_place_cus']}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<ng-template #loading>    
    <app-pre-loading></app-pre-loading>
</ng-template>