<section class="our-teachers sec-pad centred d-none d-md-block">
    <div class="container">
        <div class="sec-title text-center">
            <h5>Teachers</h5>
            <h3>Đội ngũ<br>sáng lập</h3>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-12 block-column">
                <div class="teachers-block-one wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                    <div class="inner-box">
                        <div class="image-holder">
                            <figure class="image-box"><a href="#"><img src="./../../../assets/images/our-teacher/teacher-1.png" alt=""></a></figure>
                        </div>
                        <div class="lower-content">
                            <h3><a href="#">Kevin Spacey</a></h3>
                            <span class="designation">Teacher</span>
                            <ul class="social-list">
                                <li><a href="#"><fa-icon [icon]="faFacebookF"></fa-icon></a></li>
                                <li><a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a></li>
                                <li><a href="#"><fa-icon [icon]="faGooglePlusG"></fa-icon></a></li>
                                <li><a href="#"><fa-icon [icon]="faPinterestP"></fa-icon></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12 block-column">
                <div class="teachers-block-one wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 300ms; animation-name: fadeInUp;">
                    <div class="inner-box">
                        <div class="image-holder">
                            <figure class="image-box"><a href="#"><img src="./../../../assets/images/our-teacher/teacher-2.png" alt=""></a></figure>
                        </div>
                        <div class="lower-content">
                            <h3><a href="#">Catherine Jones</a></h3>
                            <span class="designation">Teacher</span>
                            <ul class="social-list">
                                <li><a href="#"><fa-icon [icon]="faFacebookF"></fa-icon></a></li>
                                <li><a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a></li>
                                <li><a href="#"><fa-icon [icon]="faGooglePlusG"></fa-icon></a></li>
                                <li><a href="#"><fa-icon [icon]="faPinterestP"></fa-icon></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12 block-column">
                <div class="teachers-block-one wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 600ms; animation-name: fadeInUp;">
                    <div class="inner-box">
                        <div class="image-holder">
                            <figure class="image-box"><a href="#"><img src="./../../../assets/images/our-teacher/teacher-3.png" alt=""></a></figure>
                        </div>
                        <div class="lower-content">
                            <h3><a href="#">John Travolta</a></h3>
                            <span class="designation">Teacher</span>
                            <ul class="social-list">
                                <li><a href="#"><fa-icon [icon]="faFacebookF"></fa-icon></a></li>
                                <li><a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a></li>
                                <li><a href="#"><fa-icon [icon]="faGooglePlusG"></fa-icon></a></li>
                                <li><a href="#"><fa-icon [icon]="faPinterestP"></fa-icon></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>