<section class="service-section sec-pad">
    <div class="anim-icon">
        <div class="icon icon-1 float-bob-x"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 inner-column mb-4">
                <div class="inner-content">
                    <div class="sec-title style-two">
                        <h5>Giáo trình</h5>
                        <h2>Phương pháp giảng dạy</h2>
                    </div>
                    <div class="text text-justify">
                        Chương trình học được thiết kế dựa theo chương trình chuẩn của Bộ Giáo Dục và Đào Tạo Việt Nam,
                        đồng thời có sự tham khảo chương trình giáo dục MN của một số nước tiên tiến trên thế giới đặc
                        biệt như: Đan Mạch, Australia & Singapore.
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12">
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide>
                        <div class="owl-content-slide text-center">
                            <a href="#">
                                <img src="./../../../assets/images/gallery/1.jpg" alt="Doi tac 1" width="220px" />
                                <h5 class="title-service-1">Phương pháp<br/>Chủ Đạo</h5>
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="owl-content-slide text-center">
                            <a href="#">
                                <img src="./../../../assets/images/gallery/2.jpg" alt="Doi tac 1" width="220px" />
                                <h5 class="title-service-2">Phương pháp<br/>STEAM</h5>
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="owl-content-slide text-center">
                            <a href="#">
                                <img src="./../../../assets/images/gallery/3.jpg" alt="Doi tac 1" width="220px" />                        
                                <h5 class="title-service-3">Phương pháp<br/>Montessori</h5>
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="owl-content-slide text-center">
                            <a href="#">
                                <img src="./../../../assets/images/gallery/4.jpg" alt="Doi tac 1" width="220px" />
                                <h5 class="title-service-4">Phương pháp<br/>REGGIO EMILIA</h5>
                            </a>
                        </div>
                    </ng-template>                    
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>