<section class="service-section sec-pad">
    <div class="anim-icon">
        <div class="icon icon-1 float-bob-x d-none d-md-block"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 inner-column mb-3">
                <div class="inner-content">
                    <div class="sec-title style-two">
                        <!-- <h5>{{'title-curriculum' | i18next}}</h5> -->
                        <h2 class="why-fps-homepage">Lý do lựa chọn FPS</h2>
                    </div>                    
                </div>
            </div>                       
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <ul class="list-group list-group-flush">                    
                    <li class="list-group-item">Chương trình mầm non ưu việt</li>
                    <li class="list-group-item">Tắm tiếng anh với 100% giáo viên bản ngữ</li>
                    <li class="list-group-item">Đội ngũ chuyên gia cố vấn và giáo viên có trình độ cao</li>
                    <li class="list-group-item">Chương trình kỹ năng sống hấp dẫn, phát triển nghệ thuật và thể chất</li>
                    <li class="list-group-item">Cơ sở vật chất hiện đại, đẳng cấp, tràn ngập không gian xanh</li>
                </ul>
                <div class="btn-box mt-4"><a routerLink="/why-fps" class="theme-btn">Xem thêm&nbsp;&nbsp;>></a></div>
            </div> 
            <div class="col-lg-4 col-md-4 col-sm-12">
                <img class="img-fluid" src="./../../../assets/images/icon-home/why-fps.png" alt="">
            </div>
        </div>
    </div>
</section>