.bg-custom-light {
    background-color: #ffffff !important;
}
.bg-custom-light .navbar::after {
    position: absolute;
    content: '';
    bottom: -57px;
    width: 100%;
    height: 57px;
    left: 0;
    margin: 0 auto;
    /* background: url(../../../assets/images/header-curved.png) center center no-repeat; */
    background: url(../../../assets/images/icon-home/logo-shap.png) center center no-repeat;
}
@media only screen and (max-width: 768px) {
    .bg-custom-light .navbar::after {
        background: unset !important;
        bottom: unset;
        display: none !important;
    }
    .navbar-nav.mx-auto {
        display: block;
        float: left;
    }
    .navbar-nav .dropdown-menu {
        float: inherit;
    }
    .bg-custom-light #navbarTogglerMainMenu li.nav-item {
        border: 1px solid rgba(0,0,0,.15);
        width: 50%;
        float: left;
    }
    .bg-custom-light #navbarTogglerMainMenu li.nav-item .nav-link.nav-link-0.active {        
        border-radius: 20px;
        color: #FF2002 !important;
    }
    .bg-custom-light #navbarTogglerMainMenu li.nav-item .nav-link.nav-link-1.active {        
        border-radius: 20px;
        color: #ffc000 !important;
    }
    .bg-custom-light #navbarTogglerMainMenu li.nav-item .nav-link.nav-link-2.active {        
        border-radius: 20px;
        color: #CC125D !important;
    }
    .bg-custom-light #navbarTogglerMainMenu li.nav-item .nav-link.nav-link-3.active {        
        border-radius: 20px;
        color: #14b7f1 !important;
    }
    .bg-custom-light #navbarTogglerMainMenu li.nav-item .nav-link.nav-link-4.active {        
        border-radius: 20px;
        color: #ee257c !important;
    }
    .bg-custom-light #navbarTogglerMainMenu li.nav-item .nav-link.nav-link-5.active {        
        border-radius: 20px;
        color: rgb(25, 117, 17) !important;
    }

}
#main-menu .navbar-brand {
    margin-right: 0;
}
#main-menu .name-fps {
    font-family: fontMenu;
    color: #253B70;
    font-size: 1.1rem;
    display: block;
}
#main-menu .title-fps {
    font-family: fontMenu;
    color: #253B70;
    font-size: .71rem;
    display: block;
}
.bg-custom-light #navbarTogglerMainMenu li.nav-item .nav-link.nav-link-0 {
    color: #FF2002 !important;
}
.bg-custom-light #navbarTogglerMainMenu li.nav-item .nav-link.nav-link-1 {
    color: #ffc000 !important;
}
.bg-custom-light #navbarTogglerMainMenu li.nav-item .nav-link.nav-link-2 {
    color: #CC125D !important;
}
.bg-custom-light #navbarTogglerMainMenu li.nav-item .nav-link.nav-link-3 {
    color: #14b7f1 !important;
}
.bg-custom-light #navbarTogglerMainMenu li.nav-item .nav-link.nav-link-4 {
    color: #ee257c !important;
}
.bg-custom-light #navbarTogglerMainMenu li.nav-item .nav-link.nav-link-5 {
    color: rgb(25, 117, 17) !important;
}
.bg-custom-light #navbarTogglerMainMenu li.nav-item .nav-link, .logo {
    overflow: hidden;
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: all 420ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all 420ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.bg-custom-light #navbarTogglerMainMenu li.nav-item .nav-link.active {
    text-decoration: underline;
}
.bg-custom-light #navbarTogglerMainMenu li.nav-item .nav-link:hover {
    color: darkmagenta !important;
    text-decoration: underline;
}
.bg-custom-light #navbarTogglerMainMenu li.nav-item .nav-link:hover, .logo:hover {    
    -moz-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);    
}
.dropdown-toggle::after {
    margin-left: 0;
}
#navbarTogglerMainMenu .nav-item a.text-sub-menu {
    font-size: 1rem;
    font-weight: normal;
}