<div class="bg-custom-light sticky-top" id="main-menu">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand d-block d-md-none" routerLink="/">
        <img alt="Logo Foxs-USA" src="../../../assets/images/logo_FPS_210_mobile.png" style="width: 100px;" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerMainMenu"
        aria-controls="navbarTogglerMainMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerMainMenu">
        <div class="d-flex justify-content-center align-items-center" style="width: 100%;">
        <a routerLink="/" class="d-none d-md-block text-center">
          <img alt="Logo FPS School" class="logo" src="../../../assets/images/logo_FPS_210.png" title="Logo FPS School" />
        </a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-center text-color nav-link-0" routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }" routerLink="/">{{'menu-home' | i18next}}</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link text-center text-color nav-link-1 dropdown-toggle" routerLinkActive="active"
              routerLink="/about-us"
              id="navbarDropdownC" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{'menu-about' | i18next}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownC">
              <a class="dropdown-item text-sub-menu" routerLink="/about-fps" style="color: #ffc000 !important">{{'menu-about-fps' | i18next}}</a>     
              <div class="dropdown-divider"></div>                       
              <a class="dropdown-item text-sub-menu" routerLink="/infrastructure" style="color: #FF2002 !important">{{'menu-infra' | i18next}}</a>              
              <div class="dropdown-divider"></div>                       
              <a class="dropdown-item text-sub-menu" routerLink="/staff" style="color: #14b7f1 !important">{{'menu-staff' | i18next}}</a>              
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link text-center text-color nav-link-2 dropdown-toggle" routerLinkActive="active"
              routerLink="/news"
              id="navbarDropdownB" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{'menu-news' | i18next}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownB">
              <a class="dropdown-item text-sub-menu" routerLink="/" style="color: #ffc000 !important">Hoạt động FPS</a>     
              <div class="dropdown-divider"></div>                       
              <a class="dropdown-item text-sub-menu" routerLink="/recruitment" style="color: #FF2002 !important">{{'menu-recrutement' | i18next}}</a>              
            </div>
          </li>        
          <li class="nav-item dropdown">
            <a class="nav-link text-center text-color nav-link-3 dropdown-toggle" routerLinkActive="active"
              id="navbarDropdownA" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{'menu-curriculum' | i18next}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownA">
              <a class="dropdown-item text-sub-menu" routerLink="/curriculum" style="color: #FF2002 !important">Phương pháp giảng dạy</a>              
              <a class="dropdown-item text-sub-menu" routerLink="/study-program" style="color: #ffc000 !important">Chương trình học</a>                            
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link text-center text-color nav-link-4 dropdown-toggle" routerLinkActive="active"              
              id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{'menu-enroll' | i18next}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item text-sub-menu" routerLink="/why-fps" style="color: #FF2002 !important">Tại sao chọn Froebel Preschool</a>
              <a class="dropdown-item text-sub-menu" routerLink="/contact" style="color: #ffc000 !important">Thông báo tuyển sinh</a>
              <a class="dropdown-item text-sub-menu" routerLink="/pricing" style="color: #14b7f1 !important">Học phí Froebel Preschool</a>                           
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-sub-menu" routerLink="/faq" style="color: rgb(25, 117, 17) !important">Câu hỏi thường gặp</a>
            </div>
          </li>                  
          <li class="nav-item dropdown">
            <a class="nav-link text-center text-color nav-link-5 dropdown-toggle" routerLinkActive="active"
              id="navbarDropdownD" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{'menu-action-day' | i18next}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownD">
              <a class="dropdown-item text-sub-menu" routerLink="/one-day-of-fps" style="color: #FF2002 !important">{{'menu-one-day' | i18next}}</a>
              <a class="dropdown-item text-sub-menu" routerLink="/list-menu" style="color: #ffc000 !important">{{'menu-menu' | i18next}}</a>
            </div>
          </li>
        </ul>        
      </div>
      </div>
    </nav>
  </div>
</div>